.header {
  background-image: url("../../../src/images/header/header-background.svg");
  background-size: cover;
  height: toRem(768px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  .logo {
    position: absolute;
    top: toRem(44px);
    left: toRem(40px);
  }

  &__container {
    width: toRem(825px);
    height: toRem(683px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__block {
    height: toRem(450px);
  }

  &__text--left {
    color: $color-3;
    font-weight: 900;
    font-size: toRem(48px);
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: toRem(-18px);
  }

  &__text {
    color: #ffffff;
    font-size: toRem(16px);
    font-weight: 500;
    position: absolute;
    max-width: toRem(201px);
    margin-top: toRem(50px);
    z-index: 1;
  }

  &__text--right {
    color: $color-4;
    font-weight: 900;
    font-size: toRem(160px);
    position: absolute;
    z-index: 1;
    left: toRem(50px);
    top: toRem(160px);
    letter-spacing: toRem(-5px);
  }
  
  &__icon--left {
    display: block;
    background-image: url("../../images/header/balao-azul.png");
    background-size: contain;
    width: toRem(116px);
    height: toRem(129px);
    position: absolute;
    top: toRem(9px);
    left: 0;
  }

  &__icon--right {
    display: block;
    background-image: url("../../images/header/balao-amarelo.png");
    background-size: contain;
    width: toRem(106px);
    height: toRem(242px);
    position: absolute;
    top: toRem(257px);
    right: toRem(-10px);
  }

  &__item {
    width: toRem(666px);
    height: toRem(683px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: toRem(10px);


    &::before {
      content: "";
      display: block;
      width: toRem(587px);
      height: toRem(587px);
      background: $elipse-0;
      border-radius: 100%;
    }

    &::after {
      content: "";
      display: block;      
      width: toRem(666px);
      height: toRem(683px);
      background-image: url("../../images/header/entregadora.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      position: absolute;
    }
  }

  &__btn {
    position: absolute;
    margin-top: toRem(180px);
    z-index: 1;
  }
  
}

@media (min-width: 0px) and (max-width: 700px) {
  .header {
    flex-direction: row;
    align-items: center;
    padding-top: toRem(120px);
    height: toRem(677px);

    .logo {
      top: toRem(20px);
      left: 0;
      right: 0;
      margin: auto;
    }

    &__container {
      flex-direction: column-reverse;
    }

    &__block {
      width: 100%;
    }

    &__text--left {
      color: $color-3;
      font-weight: 900;
      font-size: toRem(48px);
      writing-mode: initial;
      text-align: center;
    }

    &__text--right {
      position: relative;
      z-index: 1;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      letter-spacing: toRem(-5px);
      text-align: center;
      line-height: toRem(120px);
    }

    &__text {
      position: relative;
      max-width: toRem(300px);
      margin: toRem(30px) auto 0;
      text-align: center;
    }

    &__icon--left {
      width: toRem(45px);
      height: toRem(50px);
      left: toRem(20px)
    }

    &__icon--right {
      width: toRem(41px);
      height: toRem(95px);
      top: toRem(100px);
      right: toRem(13px)
    }
  
    &__item {
      position: relative;
      width: toRem(300px);
      height: toRem(300px);
  
      &::before {
        width: toRem(231px);
        height: toRem(231px);
      }
  
      &::after {
        width: toRem(262px);
        height: toRem(269px);
      }
    }

    &__btn {
      display: none;
    }
  }
}