.main {
  background: $color-4;  
  text-align: center;
  padding-top: toRem(115px);
  padding-bottom: toRem(100px);


  h2 {
    font-size: toRem(32px);
    font-weight: 900;
  }

  p {
    font-size: toRem(16px);
    font-weight: 500;
  }

  .container {
    & + div {
      margin-top: toRem(100px);
    }
  }

  .items__container {
    margin-top: toRem(40px) !important;
    grid-template-columns: repeat(3, 1fr);
  } 

  .item {
    width: toRem(320px);
    height: toRem(316px);
    background: $color-4;
    box-shadow: 0px 4px 12px rgba(224, 219, 191, 0.6);
    border-radius: toRem(11px);
    padding: toRem(45px) toRem(30px);
    margin: 0 auto toRem(30px);
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {

      height: toRem(100px);
      width: toRem(100px);
      background-repeat: no-repeat;
      background-size: contain;

      &.salt {
        background-image: url("../../images/icons/salt/inactive.svg");
      }

      &.shoyu {
        background-image: url("../../images/icons/shoyu/inactive.svg");
      }

      &.miso {
        background-image: url("../../images/icons/miso/inactive.svg");
      }

      &.chasu {
        background-image: url("../../images/icons/chasu/inactive.svg");
      }

      &.yasai_vegetarian {
        background-image: url("../../images/icons/yasai_vegetarian/inactive.svg");
      }

      &.karaague {
        background-image: url("../../images/icons/karaague/inactive.svg");
      }

    }    
    
    &__title {
      color: $color-1;
      font-size: toRem(20px);
      font-weight: 900;
      margin-top: toRem(10px);
      text-transform: capitalize;
    }
    
    &__description {
      margin-top: toRem(10px);
      color: $color-0;
      font-size: toRem(14px);
      height: toRem(40px);
    }

    &__price {
      margin-top: toRem(10px);
      font-size: toRem(20px);
      font-weight: 900;
      color: $color-2;
    }

    &.active {
      background: $color-1;

      & .salt {
        background-image: url("../../images/icons/salt/active.svg");
      }
  
      & .shoyu {
        background-image: url("../../images/icons/shoyu/active.svg");
      }
  
      & .miso {
        background-image: url("../../images/icons/miso/active.svg");
      }      
  
      & .chasu {
        background-image: url("../../images/icons/chasu/active.svg");
      }
  
      & .yasai_vegetarian {
        background-image: url("../../images/icons/yasai_vegetarian/active.svg");
      }
  
      & .karaague {
        background-image: url("../../images/icons/karaague/active.svg");
      }

      & .item__title {
        color: #fff;
      }

      & .item__description {
        color: #fff;
      }

      & .item__price {
        color: $color-3;
      }
    }


  }

  &__btn {
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .items__container {
    display: grid !important;
  }
}

@media (min-width: 700px) and (max-width: 950px) {
  .items__container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
