.main {
  background: $color-4;  
  text-align: center;
  padding-top: toRem(115px);
  padding-bottom: toRem(100px);


  h2 {
    font-size: toRem(32px);
    font-weight: 900;
  }

  p {
    font-size: toRem(16px);
    font-weight: 500;
  }

  .container {
    & + div {
      margin-top: toRem(100px);
    }
  }

  .items__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  } 

  .item {
    margin-top: toRem(40px);
    width: toRem(320px);
    height: toRem(316px);
    background: $color-4;
    box-shadow: 0px 4px 12px rgba(224, 219, 191, 0.6);
    border-radius: toRem(11px);
    padding: toRem(45px) toRem(30px);

    &__title {
      color: $color-1;
      font-size: toRem(20px);
      font-weight: 900;
      margin-top: toRem(10px);
    }

    &__description {
      margin-top: toRem(10px);
      color: $color-0;
      font-size: toRem(14px);
      height: toRem(40px);
    }

    &__price {
      margin-top: toRem(10px);
      font-size: toRem(20px);
      font-weight: 900;
      color: $color-2;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}